

// ------------------------ FONTS ------------------------ //

$brand-base-font-family: 'ff-tisa-web-pro', serif;
$brand-base-font-size: 1.15rem; 
$brand-heading-font: 'brandon-grotesque';

$hero-xl: 3.5rem;
$hero-lg: 2.5rem;
$hero-md: 2rem;
$hero-sm: 1.5rem;  
$heading-weight: 600;

$hero-line-height-xl: 1.25;


$heading-lg: 2rem;
$heading-md: 1.625rem;
$heading-ph: 1.5rem;
$heading-sm: 1.25rem;
$default: 1rem;

$heading-weight: 600;
$line-height: 1.5;

// ------------------------ COLORS ----------------------- //

$brand-primary-light: #A8DADC;
$brand-primary-dark: #1D3557;
$brand-primary-action: #E63946;
$brand-secondary-light: #F1FAEE;
$brand-secondary-dark: #457B9D;
$solid-white: white;