// Import vars
@import "_variables.scss";
@import "_mixins.scss";
// @import "_minireset.min.css";

* {
	border: 1px dotted $brand-primary-action;
}


body, p {
	font-family: $brand-base-font-family;
	font-size: $brand-base-font-size;
	color: $brand-primary-dark;
}

//------------------------- HEADINGS --------------------- //
h1, h2, h3, h4, h5 {
	font-family: $brand-heading-font;
	font-weight: $heading-weight;
}
h1 {
	//text-transform: uppercase;
	font-weight: 400;
}

h2 {
	font-size: 1.625rem;
}

h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
}

.top-bar {
	margin: 0 auto;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, .9);
	border-bottom: 1px solid $brand-primary-dark;
	z-index: 100;
}

#logo { 
	float: left;
	margin: 0 6px;
	width: 8.5rem;
	@include pure-img;
	@include clearfix;
	@include breakpoint(large-tablet) {
		width: 125px;
	}
	@include breakpoint(phablet) {
		width: 125px;
	}
	@include breakpoint(mobile-only) {
		width: 100px;
	}

}

nav {
	display: block;
	position: absolute;
	top: 0;
	margin: 0 auto;
	padding: 0 12px;
	font-size: 1.5rem;
	font-family: $brand-heading-font;
    @include all-ease-in;
	@include clearfix;
	@include list-no-style;
	li, li a {
		padding: 2px 6px;
		// margin: 0 6px;
		display: inline-block;
		text-align: center;
	}
	a, a:visited {
		text-transform: uppercase;
		text-decoration: none;
		color: $brand-primary-dark;
	}
	a:hover {
		color: $brand-primary-action;
	}
	.active{

		font-weight: $heading-weight;
		border-bottom: 4px solid $brand-primary-action; 
	}
	@include breakpoint(laptop) {
		font-size: $heading-sm;
		top: .6rem;
		right: 2%;
	}
	@include breakpoint(large-tablet) {
		font-size: $default;
		margin: 0 auto;
		padding: 0;
		top: .5rem;
		right: 4%;
		li, li a {
			padding-left:0;
			padding-right: 0;
		}
	}
	@include breakpoint(phablet) {
		position: fixed;
		top: -350px;
		font-size: 1rem;
		left: 0;
		right: 0;
		padding: 0;
		background-color: rgba(255, 255, 255, .95);
		li, li a {
			display: block;
			padding: .5rem 0;
			font-size: $heading-md;
		}
	}

	@include breakpoint(mobile-only) {
		position: fixed;
		top: -350px;
		font-size: 1rem;
		left: 0;
		right: 0;
		padding: 0;
		background-color: rgba(255, 255, 255, .75);
		li, li a {
			display: block;
			padding: .5rem 0;
			font-size: $heading-md;
		}
	}
}

.menu-btn {
	position: fixed;
	top: 1.3rem;
	right: 12px;
	padding: .4rem .5rem;
	background-color: rgba(255, 255, 255, .5);
	border: 2px solid $brand-primary-dark;
	border-radius: 4px;
	text-align: center;
	display: none;
	cursor: pointer;
	z-index: 10;
	@include all-ease-in;
	@include breakpoint(phablet) {
		display: block;
	}
	@include breakpoint(mobile-only) {
		display: block;
	}
}

.menu-btn:hover {
	background-color: $brand-primary-dark;
	color: white;
}
#menu-toggle { 
	display: none; 
}
 
// .menu-toggle, nav { 
// 	transition: top .25s ease-out;
// }
 
#menu-toggle:checked + .menu-btn { /*top: 80px;*/ }
 
#menu-toggle:checked ~ nav { top: 0; }

.hero-banner {
	width: 100vw;
	height: 75vh;
	background: url("../images/two-person-banner2.jpg") no-repeat center center fixed;
	@include img-full-center;
	overflow: hidden;
	@include breakpoint(large-tablet) {
		
	}
	@include breakpoint(phablet) {
		height: 70vh;
	}
	@include breakpoint(mobile-only) {
		height: 70vh;
	}
}

.hero-info {
	position: absolute;
	right: 6%;
	text-transform: none;
	@include breakpoint(desktop) {
		top: 30%;
		right: 3%
	}
	@include breakpoint(laptop) {
		top: 20%;
	}
	@include breakpoint(large-tablet) {
		top: 20%;
		right: 2%
	}
	@include breakpoint(phablet) {
		top: 18%;
		left: 50%;
		width: 14rem;
	}
	@include breakpoint(mobile-only) {
		top: 20%;
		right: 0;
	}
}

.hero-heading {
	font-family: $brand-heading-font;
	font-weight: 400;
	color: white;
	margin: 4rem;
	display: block;
	@include breakpoint(desktop) {
		font-size: $hero-xl;
	}
	@include breakpoint(laptop) {
		font-size: $hero-lg;
	}
	@include breakpoint(large-tablet) {
		font-size: $hero-md;
	}
	@include breakpoint(phablet) {
		font-size: $hero-sm;
	}
	@include breakpoint(mobile-only) {
		font-size: $hero-sm;
	}
}


.container {
	margin: 0 auto;
	max-width: 82rem;
}
article {
	display: block;
}
.section-title {
	font-family: $brand-heading-font;
	font-weight: $heading-weight;
	text-align: center;
	text-transform: uppercase;
}
.content-info {
	margin: 0 auto;
	padding:1.5rem;
}

.content-section {
	margin: 0 auto;
	margin-top: 6rem;
	padding: 1rem 1.5rem;
	@include breakpoint(desktop) {
		
	}
	@include breakpoint(laptop) {
		
	}
	@include breakpoint(large-tablet) {
		
	}
	@include breakpoint(phablet) {
		
	}
	@include breakpoint(mobile-only) {
		padding-left: .5rem;
	}
}

.center-me {
	margin: 0 auto;
	text-align: center;
}

.image-block {
	margin: 0 auto;
	padding: 1.5rem 1.5rem 3rem 1.5rem;
	text-align: center;
	font-weight: normal;
	img {
		padding: 1.5rem .75rem;
	}
}

.step-slides {
	float: left;
	padding-left: 50%;
	width: 600px;
	overflow: none;
	display: inline-block;
}

.phone-img-block {
	margin: 0 auto;
	text-align: center;
	//display: inline-block;
	img {
		padding: 2rem;
		width: 30rem;
	}
	p {
		padding: 1rem;
	}
}

.color-block {
	display: block;
	margin: 4rem 0;
	padding: 8rem 4rem;
	background-color: #78CBDD;
	color: white;
}

.teamup-steps {
	text-align: center;
	li {
		display: inline-block;
		margin: 1.5rem;
		// padding: 1rem;
		background-color: white;
		border-radius: 1rem;
 	 	-moz-border-radius: 1rem;
  		-webkit-border-radius: 1rem;
		line-height: 2rem;
		width: 2rem;
		border: 2px solid #78CBDD;
		span {
			display:block;
			margin: -2.5px 0;
			color: #78CBDD;
			text-align: center;
		}
	}
}
.slides-container {
	margin: 0 auto;
	position: relative;
	display: inline-block;
	text-align:center;
}
.sp-mask {
	// position: relative;
	margin: 0 auto;
	width: 660px;
	height: 840px;
	// overflow: hidden;
}
footer, footer p {
	margin-top: 3em;
	padding: .5em 1em 1em 1em;
	background-color: $brand-primary-dark;
	color: $solid-white;
	font-family: $brand-base-font-family;
	@include list-no-style;
	@include white-a-links;
	li, li a {
		display: inline-block;
		padding: .25em .5em;

	}

}

.social-links {
	text-align: center;
}

// IMPORTS //
//Pure Grid - see documentation here: https://purecss.io/grids/
// @import "_grid.scss";