* {
  border: 1px dotted #E63946; }

body, p {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1.15rem;
  color: #1D3557; }

h1, h2, h3, h4, h5 {
  font-family: "brandon-grotesque";
  font-weight: 600; }

h1 {
  font-weight: 400; }

h2 {
  font-size: 1.625rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase; }

.top-bar {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #1D3557;
  z-index: 100; }

#logo {
  float: left;
  margin: 0 6px;
  width: 8.5rem; }
  #logo img {
    max-width: 100%;
    height: auto;
    display: block; }
  #logo:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 48rem) and (max-width: 63.6875rem) {
    #logo {
      width: 125px; } }
  @media screen and (min-width: 35.5rem) and (max-width: 47.9375rem) {
    #logo {
      width: 125px; } }
  @media screen and (max-width: 35.4375rem) {
    #logo {
      width: 100px; } }

nav {
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;
  padding: 0 12px;
  font-size: 1.5rem;
  font-family: "brandon-grotesque";
  transition: all 0.5s ease-in; }
  nav:after {
    content: "";
    display: table;
    clear: both; }
  nav ul {
    text-decoration: none;
    list-style: none; }
  nav li, nav li a {
    padding: 2px 6px;
    display: inline-block;
    text-align: center; }
  nav a, nav a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #1D3557; }
  nav a:hover {
    color: #E63946; }
  nav .active {
    font-weight: 600;
    border-bottom: 4px solid #E63946; }
  @media screen and (min-width: 63.75rem) {
    nav {
      font-size: 1.25rem;
      top: .6rem;
      right: 2%; } }
  @media screen and (min-width: 48rem) and (max-width: 63.6875rem) {
    nav {
      font-size: 1rem;
      margin: 0 auto;
      padding: 0;
      top: .5rem;
      right: 4%; }
      nav li, nav li a {
        padding-left: 0;
        padding-right: 0; } }
  @media screen and (min-width: 35.5rem) and (max-width: 47.9375rem) {
    nav {
      position: fixed;
      top: -350px;
      font-size: 1rem;
      left: 0;
      right: 0;
      padding: 0;
      background-color: rgba(255, 255, 255, 0.95); }
      nav li, nav li a {
        display: block;
        padding: .5rem 0;
        font-size: 1.625rem; } }
  @media screen and (max-width: 35.4375rem) {
    nav {
      position: fixed;
      top: -350px;
      font-size: 1rem;
      left: 0;
      right: 0;
      padding: 0;
      background-color: rgba(255, 255, 255, 0.75); }
      nav li, nav li a {
        display: block;
        padding: .5rem 0;
        font-size: 1.625rem; } }

.menu-btn {
  position: fixed;
  top: 1.3rem;
  right: 12px;
  padding: .4rem .5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #1D3557;
  border-radius: 4px;
  text-align: center;
  display: none;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s ease-in; }
  @media screen and (min-width: 35.5rem) and (max-width: 47.9375rem) {
    .menu-btn {
      display: block; } }
  @media screen and (max-width: 35.4375rem) {
    .menu-btn {
      display: block; } }

.menu-btn:hover {
  background-color: #1D3557;
  color: white; }

#menu-toggle {
  display: none; }

#menu-toggle:checked + .menu-btn {
  /*top: 80px;*/ }

#menu-toggle:checked ~ nav {
  top: 0; }

.hero-banner {
  width: 100vw;
  height: 75vh;
  background: url("../images/two-person-banner2.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
  overflow: hidden; }
  @media screen and (min-width: 35.5rem) and (max-width: 47.9375rem) {
    .hero-banner {
      height: 70vh; } }
  @media screen and (max-width: 35.4375rem) {
    .hero-banner {
      height: 70vh; } }

.hero-info {
  position: absolute;
  right: 6%;
  text-transform: none; }
  @media screen and (min-width: 63.75rem) and (max-width: 74.9375rem) {
    .hero-info {
      top: 30%;
      right: 3%; } }
  @media screen and (min-width: 63.75rem) {
    .hero-info {
      top: 20%; } }
  @media screen and (min-width: 48rem) and (max-width: 63.6875rem) {
    .hero-info {
      top: 20%;
      right: 2%; } }
  @media screen and (min-width: 35.5rem) and (max-width: 47.9375rem) {
    .hero-info {
      top: 18%;
      left: 50%;
      width: 14rem; } }
  @media screen and (max-width: 35.4375rem) {
    .hero-info {
      top: 20%;
      right: 0; } }

.hero-heading {
  font-family: "brandon-grotesque";
  font-weight: 400;
  color: white;
  margin: 4rem;
  display: block; }
  @media screen and (min-width: 63.75rem) and (max-width: 74.9375rem) {
    .hero-heading {
      font-size: 3.5rem; } }
  @media screen and (min-width: 63.75rem) {
    .hero-heading {
      font-size: 2.5rem; } }
  @media screen and (min-width: 48rem) and (max-width: 63.6875rem) {
    .hero-heading {
      font-size: 2rem; } }
  @media screen and (min-width: 35.5rem) and (max-width: 47.9375rem) {
    .hero-heading {
      font-size: 1.5rem; } }
  @media screen and (max-width: 35.4375rem) {
    .hero-heading {
      font-size: 1.5rem; } }

.container {
  margin: 0 auto;
  max-width: 82rem; }

article {
  display: block; }

.section-title {
  font-family: "brandon-grotesque";
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }

.content-info {
  margin: 0 auto;
  padding: 1.5rem; }

.content-section {
  margin: 0 auto;
  margin-top: 6rem;
  padding: 1rem 1.5rem; }
  @media screen and (max-width: 35.4375rem) {
    .content-section {
      padding-left: .5rem; } }

.center-me {
  margin: 0 auto;
  text-align: center; }

.image-block {
  margin: 0 auto;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  text-align: center;
  font-weight: normal; }
  .image-block img {
    padding: 1.5rem .75rem; }

.step-slides {
  float: left;
  padding-left: 50%;
  width: 600px;
  overflow: none;
  display: inline-block; }

.phone-img-block {
  margin: 0 auto;
  text-align: center; }
  .phone-img-block img {
    padding: 2rem;
    width: 30rem; }
  .phone-img-block p {
    padding: 1rem; }

.color-block {
  display: block;
  margin: 4rem 0;
  padding: 8rem 4rem;
  background-color: #78CBDD;
  color: white; }

.teamup-steps {
  text-align: center; }
  .teamup-steps li {
    display: inline-block;
    margin: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    line-height: 2rem;
    width: 2rem;
    border: 2px solid #78CBDD; }
    .teamup-steps li span {
      display: block;
      margin: -2.5px 0;
      color: #78CBDD;
      text-align: center; }

.slides-container {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  text-align: center; }

.sp-mask {
  margin: 0 auto;
  width: 660px;
  height: 840px; }

footer, footer p {
  margin-top: 3em;
  padding: .5em 1em 1em 1em;
  background-color: #1D3557;
  color: white;
  font-family: "ff-tisa-web-pro", serif; }
  footer ul, footer p ul {
    text-decoration: none;
    list-style: none; }
  footer a, footer p a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "ff-tisa-web-pro", serif; }
  footer a:hover, footer p a:hover {
    border-bottom: 1px solid #E63946; }
  footer li, footer li a, footer p li, footer p li a {
    display: inline-block;
    padding: .25em .5em; }

.social-links {
  text-align: center; }
